.BlockSait {
   position: absolute;
   display: block;
   padding: 0;
   text-align: center;
}

.BlockSait1 {
   margin: 20px;
   background-color: #8bf599;
   border: 3px dotted #f86565;
   padding: 20px 10px;
   width: calc(33% - 24px);
   display: inline-block;

}

.BlockSait2 {
   margin: 20px;
   background-color: #8bf599;
   border: 3px dotted #f86565;
   padding: 20px 10px;
   width: calc(33% - 24px);
   display: inline-block;

}

.BlockSait3 {
   margin: 20px;
   background-color: #8bf599;
   border: 3px dotted #f86565;
   padding: 20px 10px;
   width: calc(33% - 24px);
   display: inline-block;

}

.BlockSait4 {
   margin: 20px;
   background-color: #8bf599;
   border: 3px dotted #f86565;
   padding: 20px 10px;
   width: calc(33% - 24px);
   display: inline-block;

}

.block {
   border: 10px solid #1b2325;
   width: 217px;
   float: left;
   margin-right: 5px;
   margin-bottom: 20px;
   height: 432px;
   overflow: hidden;
   border-radius: 50px;
}

.wrap {
   width: 1300px;
   margin-top: 20px;
   position: absolute;
   left: 55%;
   margin-left: -650px;
}

body {
   background-color: #407c0f;
}